li, .home {
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
}

nav{
	background: #181f46;
	position: fixed;
	z-index: 1;
}


@media only screen and (max-width : 992px) {

	li, .home {
	  font-size: 20px;
	  font-family: 'Russo One', sans-serif;
	}

}


@media only screen and (max-width : 600px) {

	li, .home {
	  font-size: 11px;
	  font-family: 'Russo One', sans-serif;
	  word-break: keep-all;
	}

}
